{% extends 'base.html.twig' %}

{% block title %}Postuler{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('app.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Postuler</h1>

        {{ form_start(form) }}

        {# Afficher les étapes du formulaire #}
        {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}

        {{ form_widget(form) }}

        <div>
            {% if flow.getCurrentStepNumber() > 1 %}
                <button type="submit" name="{{ flow.getFormTransitionKey() }}" value="back">Précédent</button>
            {% endif %}
            <button type="submit">{{ flow.getCurrentStepNumber() < flow.getStepCount() ? 'Suivant' : 'Terminer' }}</button>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
